@using TaskTracker.Models
@using TaskTracker.Objects
@model TaskTracker.Models.TaskClaim
@{
    ViewBag.Title = "Карточка задачи";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Header = Model.Name;
    
}

<div class="row">
    <div class="col s8">
        @*<h6>@String.Format("{0:dd.MM.yy}", Model.DateCreate) в @String.Format("{0:hh:mm}", Model.DateCreate) поступило сообщение от пользователя @AdHelper.GetUserBySid(Model.CreatorSid).DisplayName</h6>*@
        <h5>Пишет @AdHelper.GetUserBySid(Model.CreatorSid).DisplayName</h5>
        <div class="task-descr">
            @Model.Descr
        </div>
    </div>
    <div class="col s4">
        <div class="card-panel">
            <h5>История задачи</h5>
            @foreach (var st in ViewBag.StateHistory)
            {
                <div class="card @st.TaskState.BgColor">
                    <div class="card-content white-text">
                        @*<span class="card-title black-text"></span>*@
                        <p>
                            <small>@String.Format("{0:dd.MM.yy hh:mm}", st.DateCreate)</small>
                            <div>
                                @st.TaskState.Name - @AdHelper.GetUserBySid(st.CreatorSid).DisplayName
                            </div>
                        </p>
                    </div>
                </div>
            }
        </div>
        @*@Html.Partial("StateHistory", await TaskClaim.GetStateHistory(Model.TaskId))*@
        @*@Html.RenderAction("StateHistory", new {id=Model.TaskId})*@
    </div>
</div>


