@using TaskTracker.Models
@using TaskTracker.Objects
@model TaskTracker.Models.TaskClaim

<tr id="taskClaim-@Model.TaskId" name="taskClaimItem" tid="@Model.TaskId">
    <th class="center">@Model.TaskId</th>
    <td>
        <div class="row no-marg-bot">
            <div class="col s12 l6 m6">
                <span class="bold">@Model.Project.Name</span>
            </div>
            <div class="col s12 l6 m6">
                <span class="@Model.TaskState.BgColor marker">@AdHelper.GetUserBySid(Model.ModifierSid).DisplayName - @Model.TaskState.Name</span>
            </div>
        </div>
        <div>
            <div class="text-bg"><a href="@Url.Action("Card", "Task", new {id = Model.TaskId})">@Model.Name</a></div>
        </div>
        <small>
            @if (@Model.Descr.Length > 350)
            {
                @Model.Descr.Remove(350)
                <br />
                <a class="red-text" href="@Url.Action("Card", "Task", new {id = Model.TaskId})">читать полностью</a>
            }
            else
            {
                @Model.Descr
            }
        </small>
    </td>
    <td>
        @if (@Model.TaskCategory != null)
        {
            if (@Model.TaskCategory.SysName.ToUpper().Equals("BUG"))
            {
                <i class="material-icons red-text small" title="@Model.TaskCategory.Name">bug_report</i>
            }
            if (@Model.TaskCategory.SysName.ToUpper().Equals("FEATURE"))
            {
                <i class="material-icons green-text small" title="@Model.TaskCategory.Name">star_rate</i>
            }
        }
        else
        {
            
        }
        @if (@Model.TaskImportant != null)
        {
            if (@Model.TaskImportant.SysName.Equals("IMP"))
            {
                <i class="material-icons red-text small" title="@Model.TaskImportant.Name">directions_run</i>
            }
            if (@Model.TaskImportant.SysName.Equals("NOTIMP"))
            {
                <i class="material-icons green-text small" title="@Model.TaskImportant.Name">hotel</i>
            }
        }
        else
        {
            
        }
        @if (@Model.TaskQuickly != null)
        {
            if (@Model.TaskQuickly.SysName.Equals("QUICK"))
            {
                <i class="material-icons red-text small" title="@Model.TaskQuickly.Name">alarm_on</i>
            }
            if (@Model.TaskQuickly.SysName.Equals("NOTQUICK"))
            {
                <i class="material-icons green-text small" title="@Model.TaskQuickly.Name">alarm_off</i>
            }
        }
        else
        {
            
        }
    </td>
    @*<td class="text-nowrap">
        @if (String.IsNullOrEmpty(Model.SpecialistSid))
        {
           @:не назначен
    }
    else
    {
        @Model.Specialist.DisplayName
    }
    </td>*@
    <td class="text-nowrap">
        @AdHelper.GetUserBySid(Model.CreatorSid).DisplayName
    </td>
    <td>
        @*<a tid="@Model.TaskId" type="test" href="#" class="btn amber  waves-effect waves-orange" title="На проверку"><i class="material-icons">computer</i></a>*@
        <a tid="@Model.TaskId" type="done" href="#" class="btn green waves-effect waves-orange" title="ПРОВЕРЕНО"><i class="material-icons">done</i></a>
    </td>
</tr>
